.App {
  height: 100vh;
  width: 100vw;
  background-image: url('./webpagebackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: absolute;
  
}

header {
  height: 80px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  font-weight: bold;
}

.header{
  font-size: 20px;
}

.desktop-menu {
  width: 300px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.dropdown {
  display: none;
}


#mobile-menu {
  display: none;
}

#mobile-options {
  display: none;
}

#placeholder{
  display: none;
}

.main {
  height:calc(100vh - 80px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  color: white;
  text-align: center;
  padding-top: 125px;
  
}

.main h1 {
  font-size: 110px;
  box-sizing: border-box;
  margin: -15px;
  letter-spacing: 8px;
  font-family: 'Times New Roman', Times, serif;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(66, 66, 66));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 70%;
}

.main p {
  width: 350px;
  font-size: 20px;
}

.main button {
  height: 55px;
  width: 150px;
  border-radius: 5px;
  background-color: RGB(100, 161, 157);
  color: white;
  border: none;
  text-shadow: 1px 1px  black;
  margin-top: 20px;
  margin-bottom: 100px;
  
}

@media(max-width: 990px){
  header{
    background-color: whitesmoke;
    color: black;
    z-index: 2;
    animation: stretch;
    animation-duration: 2s;
    
  }

  .header{
    z-index: 2;
  }

  .desktop-menu{
    display: none;
  }

    .dropdown {
    display: initial;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: RGB(100, 161, 157);
    border-style: solid;
    border-radius: 5px;
    font-size: 15px;
    border-width: 1px;
    z-index: 2;
  
  }

  #mobile-menu{
    display: initial;
    box-sizing: border-box;
    height: 120px;
    width: 100vw;
    position: fixed;
    top: 79px;
    background-color:whitesmoke ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    font-weight: lighter;
    animation: drop;
    animation-duration: 500ms;
    animation-duration: linear;
    animation-iteration-count: 1;
    /* animation: up 1s linear;  */
    z-index: 1;
    
    
    
  }

  #mobile-options {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding-right: 150px;
    padding-bottom: 10px;
    z-index: 2;
    color: grey;
    
  }

 .about:hover {
    color: black;
  }

  .projects:hover {
    color: black;
  }

  .contact:hover {
    color: black;
  }

  #placeholder{
    display:initial;
  }
  
  .main h1 {
    font-size: 75px ;
  }
  
  .main p {
    font-size: 15px;
  }

}

@media(max-width: 759px){
  .main h1{
    font-size: 50px;
  }

}



@keyframes drop {
  from{
    transform: translateY(-150px)
  }
  to{
    transform: translateY(0)
  }
}

